NERDTreeBookmarks
.*.sw*
.*.un~
bundle/argumentrewrap/*
bundle/gundo.vim
bundle/inline_edit/*
bundle/paster.vim
bundle/snipmate.vim
bundle/switch.vim
bundle/tabular/*
bundle/taglist.vim
bundle/vim-abolish/*
bundle/vim-addon-mw-utils/*
bundle/vim-latex/*
bundle/vim-markdown/*
bundle/vim-surround/*
bundle/vim-yankring/*

